.navbar-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  border-bottom: 5px solid #ffffff;
  box-shadow:0px 3px 0px #00000013;
  color: black;
  background-color: rgba(254, 231, 21, 0.842);
  z-index: 1000;
  position: absolute;
  
  .current {
    font-weight: 600;
    font-size: 28px;
    border: 1px solid white;
    width: 120px;
    padding: 5px;
    margin: 10px 0px 10px 10px;
    box-shadow: inset 9px 9px 34px -24px rgba(255, 87, 0, 0.342);
    text-align: center;
    .fade-enter {
      opacity: 0;
    }
    .fade-enter-active {
      opacity: 1;
      transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    .fade-exit {
      opacity: 1;
    }
    .fade-exit-active {
      opacity: 0;
      transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    @include media(">=phone", "<lgphone") {
      font-size: 20px;
      width: 100px;
      margin-right: 5px;
    }
  }
  .links-wrapper {
    .button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      background-color: transparent;
      outline: none;
      border: 0px;
      margin-right: 16px;
      cursor: pointer;
      &:hover {
        color: rgb(255, 87, 0);
      }
      @include media(">=phone", "<lgphone") {
        font-size: 8px;
        line-height: 10px;
        padding: 0px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 12px;
        padding: 5px;
        margin-right: 8px;
      }
    }
  }
}
