.skills-container {
  width: 60vw;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cf8b6486;
  color: #6A2806;
  box-shadow: -3px 3px 10px 0px;
  border-radius: 1em;
  padding: 60px;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 100px;
      @include media(">=phone", "<lgphone") {
        padding: 0px;
      }
      @include media(">=lgphone", "<tablet") {
        padding: 40px;
      }
      img {
        height: 6rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
